<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/community.css" rel="stylesheet">
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon"/>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body class="font-body" style="background-color: #EFEFEF">
<script src="/js/canvas.js"></script>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>

            <div class="media" th:each="question : ${paginationDTO.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading-h5">
                        <a th:href="@{'/question/' + ${question.id} }" th:text="${question.title}"></a>
                    </h5>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 • <span
                            th:text="${question.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>&nbsp;&nbsp;
                        <a class="community-menu" th:href="@{'/publish/'+ ${question.id}}"
                           th:if="${session.user != null && session.user.getId() == question.getCreator()}">
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil ">编辑</span>
                    </a>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${paginationDTO.showFirstPage}">
                        <a aria-label="Previous" th:href="@{'/profile/'+${section}(page=${1})}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showPrevious}">
                        <a aria-label="Previous" th:href="@{'/profile/'+${section}(page=${paginationDTO.page} - 1)}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:class="${paginationDTO.page == page}? 'active' : ''" th:each="page : ${paginationDTO.pages}">
                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${paginationDTO.showNext}">
                        <a aria-label="Previous" th:href="@{'/profile/'+${section}(page=${paginationDTO.page} + 1)}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showEndPage}">
                        <a aria-label="Previous" th:href="@{'/profile/'+${section}(page=${paginationDTO.totalPage})}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${section == 'questions'}? 'active list-group-item' : 'list-group-item'">我的问题</a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'}? 'active list-group-item' : 'list-group-item'">最新回复
                    <span class="badge">14</span>
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>